/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .hero-content-innner-wrapper h1 {
    font-size: 75px;
  }
  .hero-content-innner-wrapper h2 {
    font-size: 44px;
    font-weight: 500;
    color: #0e0920;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .work-info-wrap h5 {
    font-size: 22px;
    line-height: 1.3;
  }
  .achievements-ul li p {
    font-size: 20px;
  }
  .achievements-ul li h3 {
    font-size: 50px;
    margin-bottom: 12px;
  }
  .testimonial-info p {
    font-size: 23px;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .portfolio-item-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .portfolio-crud-btn a:first-child {
    margin-left: 0;
  }
  .portfolio-crud-btn {
    margin-bottom: 15px;
  }
  .portfolio-img {
    margin-bottom: 20px;
  }
  .work-info-wrap h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
  }
  .work-info-wrap p {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .portfolio-item-wrapper {
    margin-bottom: 60px;
  }
  .achievements-ul li h3 {
    font-size: 50px;
    margin-bottom: 15px;
  }
  .achievements-ul li p {
    font-size: 18px;
  }
  .case-icon img {
    max-height: 55px;
  }
  .testimonial-info p {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .reviewer h6 {
    font-size: 28px;
  }
  .reviewer h6 span {
    font-size: 16px;
    margin-top: 8px;
  }
  .testimonial-info {
    padding-left: 20px;
  }
  ul.footer-nav li a {
    margin-right: 45px;
  }
  .hero-content-innner-wrapper h1 {
    font-size: 75px;
  }
  .hero-content-innner-wrapper h2 {
    font-size: 44px;
    font-weight: 500;
    color: #0e0920;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.5;
    margin-bottom: 30px;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {
  .portfolio-item-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .portfolio-crud-btn a:first-child {
    margin-left: 0;
  }
  .portfolio-crud-btn {
    margin-bottom: 15px;
  }
  .portfolio-img {
    margin-bottom: 20px;
  }
  .work-info-wrap h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
  }
  .work-info-wrap p {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .portfolio-item-wrapper {
    margin-bottom: 60px;
  }
  .achievements-ul li h3 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .achievements-ul li p {
    font-size: 15px;
  }
  .case-icon img {
    max-height: 40px;
  }
  .testimonial-info p {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .reviewer h6 {
    font-size: 28px;
  }
  .reviewer h6 span {
    font-size: 16px;
    margin-top: 8px;
  }
  .testimonial-info {
    padding-left: 0;
  }
  ul.footer-nav li a {
    margin-right: 45px;
  }
  .hero-content-innner-wrapper h1 {
    font-size: 65px;
  }
  .hero-content-innner-wrapper h2 {
    font-size: 40px;
    margin: 25px auto;
  }
  ul.business-of-ul {
    max-width: 85%;
  }
  .pt-80.pb-80 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .testimonial-img {
    margin-bottom: 30px;
  }
  .sec-title {
    font-size: 30px;
    margin-bottom: 55px;
  }

  .ft-logo {
    text-align: center;
  }
  .footer-nav {
    justify-content: center;
    margin-bottom: 30px;
  }
  .social-link {
    justify-content: center !important;
  }
  .portfolio-area.pt-80 {
    padding-top: 45px;
  }
  .main-menu li:not(:first-child) {
    margin-left: 40px;
  }
  .portfolio-item-wrapper.ds-40 {
    margin-top: 0;
  }
}

/* small mobile :320px. */
@media (min-width: 320px) and (max-width: 767.98px) {
  .portfolio-item-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .portfolio-crud-btn a:first-child {
    margin-left: 0;
  }
  .portfolio-crud-btn {
    margin-bottom: 15px;
  }
  .portfolio-img {
    margin-bottom: 20px;
  }
  .work-info-wrap h5 {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
  }
  .work-info-wrap p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .portfolio-item-wrapper {
    margin-bottom: 60px;
  }
  .achievements-ul li h3 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .achievements-ul li p {
    font-size: 16px;
  }
  .case-icon img {
    max-height: 55px;
  }
  .testimonial-info p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .reviewer h6 {
    font-size: 28px;
  }
  .reviewer h6 span {
    font-size: 16px;
    margin-top: 8px;
  }
  .testimonial-info {
    padding-left: 0;
  }
  ul.footer-nav li a {
    margin-right: 45px;
  }
  .hero-content-innner-wrapper h1 {
    font-size: 40px;
  }
  .hero-content-innner-wrapper h2 {
    font-size: 22px;
    margin: 24px auto;
    margin-top: 15px;
  }
  ul.business-of-ul {
    max-width: 85%;
  }
  .pt-80.pb-80 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .testimonial-img {
    margin-bottom: 30px;
  }

  .ft-logo {
    text-align: center;
  }
  .footer-nav {
    justify-content: center;
    margin-bottom: 30px;
    display: block !important;
    text-align: center;
  }
  .footer-nav li a {
    margin-right: 0 !important;
  }
  .social-link {
    justify-content: center !important;
  }
  .header-area {
    padding: 25px 0;
  }
  .site_logo img {
    max-width: 140px;
  }
  .header-area.fixed {
    padding: 18px 0;
  }
  .sec-title {
    font-size: 26px;
    margin-bottom: 45px;
  }
  ul.business-of-ul li {
    font-size: 16px;
  }
  ul.business-of-ul {
    max-width: 576px;
    width: 100%;
  }
  .portfolio-area.pt-80 {
    padding-top: 45px;
  }
  .pt-80.pb-80 {
    padding-top: 45px;
    padding-bottom: 40px;
  }
  .btn-light-puprle {
    font-size: 15px;
  }
  .portfolio-item-wrapper {
    margin-bottom: 40px;
  }

  .portfolio-area.pt-80 {
    padding-top: 45px;
  }
  .btn-light-puprle {
    font-size: 15px;
  }
  .achievements-ul {
    display: block;
  }
  .achievements-ul li {
    width: 100%;
  }
  .achievements-ul li:not(:last-child) {
    margin-bottom: 50px;
  }
  .achievements-ul li:nth-last-child(2)::before,
  .achievements-ul li:nth-last-child(2)::after {
    top: calc(100% + 28px);
    right: 0;
    width: 75%;
    height: 1px;
    background: hsl(253 56% 8% / 23%);
    left: 50%;
    transform: translateX(-50%);
  }
  .achievements-ul li:nth-last-child(2)::after {
    bottom: calc(100% + 28px);
    top: auto;
  }
  .use-case-g-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .case-icon img {
    max-height: 38px;
  }
  .contact-info h4 {
    font-size: 26px;
  }
  .footer-nav li:not(:last-child) {
    margin-bottom: 12px;
  }
  .ft-logo img {
    max-width: 140px;
  }
  .btn {
    font-size: 16px;
  }
  .portfolio-item-wrapper.ds-40 {
    margin-top: 0;
  }
}

/* Large Mobile :480px. */
@media (min-width: 576px) and (max-width: 767.98px) {
}

@media only screen and (max-width: 600px) {
  ul.main-menu.d-none.d-md-flex.align-items-center.justify-content-end {
    display: none;
  }
  span.mobile-bar.d-md-none.d-lg-none.d-xl-none {
    display: contents;
    /* margin-left: 200px !IMPORTANT; */
  }
  img.img-responsive.imglogo {
    padding-left: 58px !important;
    padding-top: 80px;
    text-align: -webkit-center !important;
  }
  .mobile-bar i {
    float: right;
    color: #0e0920;
    font-size: 26px;
    margin-top: -24px;
  }
  ul.social-link.d-flex.align-items-center.justify-content-end {
    text-align: center !important;
    padding-top: 30px !important;
  }
  .emailfooter {
    padding-bottom: 20px;
    text-align: center;
  }
  .socialfooter {
    padding-bottom: 20px;
    text-align: center;
  }
  .webfooter {
    padding-bottom: 20px;
    text-align: center;
  }
  ul.business-of-ul li:nth-child(3):after,
  ul.business-of-ul li:nth-last-child(3):after {
    content: "";
    position: absolute;
    width: 70% !important;
    /* padding-left: 26px; */
    text-align: center;
    height: 0.2px;
    top: 30%;
    transform: translateY(-50%);
    z-index: -1;
    left: 54px !important;
    background: #e3e3fd;
  }
  img.center.img-responsive.imgtesti {
    padding-left: 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  img.aos-init.aos-animate.img-responsive.banner {
    width: 100% !important;
  }
  img.aboutbanner.banner.aos-init.aos-animate {
    padding-bottom: 50px !important;
    width: 100% !important;
  }
  .service-two-item {
    border-left: 1px solid rgba(14, 9, 32, 0.1);
    border-right: 1px solid rgba(14, 9, 32, 0.1);
    padding: 20px 30px;
    margin: 30px 0px !important;
    margin-bottom: 70px;
    text-align: center;
  }
  .contact-info h4 {
    font-size: 26px;
    text-align: center;
  }
  .contact-info p {
    text-align: center;
    font-size: 14px;
    /* color: #86848f; */
    /* max-width: 560px; */
    /* margin: 0 auto 30px; */
    /* opacity: 0.5; */
    line-height: 2;
    font-weight: 600;
    /* font-family: 'LemonMilkProUltraLight'; */
    color: #0e0920;
    font-size: 14px;
    /* margin: 0 auto 30px; */
    line-height: 2;
    font-weight: 100;
  }
  .contact-info {
    text-align: center;
  }
  .form {
    padding: 20px !important;
    /* max-width: 860px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
  }
  .v-line {
    margin-top: -40px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 180px !important;
    width: 5px;
    border-left: 1px solid rgba(14, 9, 32, 0.2);
    border-right: 1px solid rgba(14, 9, 32, 0.2);
    position: absolute;
  }
  .serve-middle-title h3 {
    font-size: 24px !important;
    color: #0e0920;
    font-family: lemonMedium;
    font-weight: 500;
    margin-bottom: 0;
    text-align: center !important;
    position: relative;
  }
  .serve-step p {
    font-size: 14px !important;
    line-height: 40px;
  }
  .v-line.left {
    height: 100px !important;
    margin-left: -40px;
    height: 130px;
    margin-top: -40px;
    margin-left: -10px !important;
  }
  .serve-middle-title .v-line.right {
    height: 100px !important;
    right: -10px !important;
    /* left: auto; */
    /* top: 5px; */
    /* margin-left: -40px; */
    /* height: 130px; */
    margin-top: -10px;
  }
  .v-line.leftnew {
    left: 15px !important;
    top: auto;
    margin-top: -40px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 210px !important;
    width: 6px;
    border-left: 1px solid rgba(14, 9, 32, 0.2);
    border-right: 1px solid rgba(14, 9, 32, 0.2);
    position: absolute;
  }
  .v-linerightnew {
    right: 15px !important;
    top: auto;
    margin-top: -40px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 210px !important;
    width: 6px;
    border-left: 1px solid rgba(14, 9, 32, 0.2);
    border-right: 1px solid rgba(14, 9, 32, 0.2);
    position: absolute;
  }
  img.workheader {
    width: 100%;
  }
  .single-blk.in-manage-area h4 {
    font-size: 26px !important;
    font-family: lemonMedium;
    margin-bottom: 28px;
    margin-top: -20px !important;
  }
  img.img-responsive.Vloggi {
    padding-top: 40px !important;
    padding-bottom: 0px !important;
  }

  .workportfoliooneb {
    text-align: -webkit-center;
    padding-top: 15px;
    padding-bottom: 33px !important;
  }

  img.headerProcess {
    width: 98% !important;
  }
  .data-img.Development {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .single-blk.type-2.development {
    margin-top: 0px !important;
  }
  .v-linerightdevelopment {
    margin-top: px;
    margin-left: 280px !important;
    /* margin-right: 100px; */
    height: 100px;
    width: 5px;
    border-left: 1px solid rgba(14, 9, 32, 0.2);
    border-right: 1px solid rgba(14, 9, 32, 0.2);
    position: absolute;
  }
  .data-img.crafting {
    padding-bottom: 50px !important;
    padding-top: 50px !important;
  }
  .single-blk.type-2.crafting {
    padding-left: 90px;
    margin-top: 0px !important;
  }
  .data-img.Understandingidea {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }
  .single-blk.type-2.Understandingidea {
    margin-top: 0px !important;
    /*    margin-left: 43.5px;*/
  }
  .data-img.Brainstormingdata {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .single-blk.type-2.Brainstormingdata {
    margin-top: 0px !important;
    /*    margin-left: -275px !important;*/
  }
  img.img-responsive.Understandingidea {
    width: 100% !important;
  }
  .v-linerightUnderstandingidea {
    right: 0px !important;
    margin-top: 0px;
    margin-left: 0px !important;
    /* margin-right: 100px; */
    height: 150px !important;
    width: 5px;
    border-left: 1px solid rgba(14, 9, 32, 0.2);
    border-right: 1px solid rgba(14, 9, 32, 0.2);
    position: absolute;
  }
  img.Understandingidea {
    width: 100%;
  }
  .single-blk h4 {
    width: 100% !important;
    text-align: center !important;
    font-weight: 400;
    font-size: 18px !important;
    margin-bottom: 14px;
  }
  .single-blk p {
    padding: 0px 12px 0px 12px;
    text-align: center;
    font-size: 14px !important;
    color: #0e0920;
    opacity: 0.5;
    line-height: 30px;
  }
  .v-lineleftUnderstandingidea {
    margin-top: px;
    /*left: 0;*/
    margin-left: 0px !important;
    /* margin-right: 100px; */
    height: 150px !important;
    width: 5px;
    border-left: 1px solid rgba(14, 9, 32, 0.2);
    border-right: 1px solid rgba(14, 9, 32, 0.2);
    position: absolute;
  }
  img.Brainstormingdata {
    width: 100% !important;
  }
  .v-linerightBrainstormingdata {
    margin-top: px;
    right: 15px;
    margin-left: 0px !important;
    /* margin-right: 100px; */
    height: 150px !important;
    width: 5px;
    border-left: 1px solid rgba(14, 9, 32, 0.2);
    border-right: 1px solid rgba(14, 9, 32, 0.2);
    position: absolute;
  }
  .v-lineleftBrainstormingdata {
    margin-top: px;
    left: 15px;
    margin-left: 0px !important;
    /* margin-right: 100px; */
    height: 150px !important;
    width: 5px;
    border-left: 1px solid rgba(14, 9, 32, 0.2);
    border-right: 1px solid rgba(14, 9, 32, 0.2);
    position: absolute;
  }
  .v-linerightUnderstandingusers {
    right: 15px;
    top: 0;
    margin-top: px;
    margin-left: 0px;
    margin-right: 0px;
    height: 150px !important;
    width: 6px !important;
    border-left: 1px solid rgba(14, 9, 32, 0.2);
    border-right: 1px solid rgba(14, 9, 32, 0.2);
    position: absolute;
  }
  .data-type-wrapper.reverse .single-blk.type-1 {
    /*    margin-left: 68px !important;
  transform: translateX(-25%);*/
  }
  .single-blk {
    /*    padding: 15px 15px !important;*/
  }
  .twin-flex-title h3.text-pink {
    margin-right: 20px !important;
    text-align: center !important;
    color: #f36293;
  }
  .twin-flex-title h3 {
    text-align: center !important;
    color: #7474f5;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 14px !important;
  }
  section#brainstormingdataprocess h3.text-pink {
    margin-top: 0px !important;
  }
  h3.text-pink-manish {
    color: #f36293;
    margin-right: 70px !important;
  }
  h3.craftingd {
    margin-left: 19px !important;
    margin-bottom: -100px !important;
  }
  .data-type-wrapper.reverse .single-blk.type-1 {
    margin-left: 0px !important;
    /* transform: translateX(-25%); */
  }
  .v-linerightcrafting {
    margin-top: px;
    margin-left: 280px !important;
    /* margin-right: 100px; */
    height: 100px;
    width: 5px;
    border-left: 1px solid rgba(14, 9, 32, 0.2);
    border-right: 1px solid rgba(14, 9, 32, 0.2);
    position: absolute;
  }
  button.btn.btn-primary.dropdown-toggle {
    /* text-align: -webkit-center; */
    background-color: #ffffff;
    border-color: #ffffff;
    color: #7474f5;
    margin-inline: 20% !important;
    margin-top: -75px;
    margin-bottom: 0px;
  }
  h4.text-purple.contact {
    text-align: center;
    color: #7474f5;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 21px;
    font-family: lemonRegular;
    padding-top: 30px;
  }
  ul.contact-two-list li {
    text-align: center !important;
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #0e0920;
  }
  .data-img.Brainstormingdata img.img-responsive.Brainstormingdata {
    margin-top: 0px !important;
  }
  .workportfoliothreea {
    background: #f9f9f9;
    margin: 0px -30px 0px -30px !important;
  }
  .workportfolioonea {
    background: #f9f9f9;
    margin: 0px -30px 0px -30px !important;
  }
  .workportfoliooneonea {
    background: #f9f9f9;
    margin: 0px -30px 0px -30px !important;
  }
  .contact-area.pt-80.pb-0 .logo {
    text-align: center !important;
  }
  .workportfoliooneonea h2 {
    text-align: center !important;
    padding: 40px 20px 20px;
    font-size: 22px;
    font-weight: 500;
    /* margin: 50px 40px 20px 20px; */
  }
  .workportfoliooneonea {
    background: #f9f9f9;
    margin: 0px 0px 0px -30px;
    padding-bottom: 25px !important;
  }
  .workportfoliooneonea p {
    text-align: center !important;
    font-size: 14px;
    color: #0e0920;
    max-width: 560px;
    /* margin: 0 auto 15px; */
    opacity: 0.5;
    line-height: 2;
    font-weight: 100;
    font-family: "";
    padding: 7px;
    font-family: "lemonRegular";
  }
  .workportfolioonea h2 {
    text-align: center !important;
    padding: 40px 20px 20px;
    font-size: 22px;
    font-weight: 500;
    /* margin: 50px 40px 20px 20px; */
  }
  .workportfolioonea {
    background: #f9f9f9;
    margin: 0 0 0 -30px;
    padding-bottom: 25px !important;
  }
  .workportfolioonea p {
    text-align: center !important;
    font-size: 14px;
    color: #0e0920;
    max-width: 560px;
    opacity: 0.5;
    line-height: 2;
    font-weight: 100;
    font-family: "";
    padding: 7px;
    font-family: "lemonRegular";
  }
  .workportfoliothreea h2 {
    text-align: center !important;
    padding: 40px 20px 20px !important;
    font-size: 22px;
    font-weight: 500;
  }
  .workportfoliothreea p {
    opacity: 0.5;
    line-height: 2;
    font-weight: 100;
    font-family: "";
    padding: 7px !important;
    font-family: "lemonRegular";
  }
  .workportfoliothreea p {
    text-align: center !important;
    font-size: 14px;
    color: #0e0920;
    max-width: 560px;
    margin: 0 auto 0px !important;
  }
  .workportfoliothreea a.btn.btn-purple {
    margin: 20px 20px 30px;
    margin-left: 88px !important;
  }
  .workportfoliooneonea a.btn.btn-purple {
    margin: 20px 20px 30px;
    margin-left: 95px !important;
  }
  .workportfolioonea a.btn.btn-purple {
    margin: 20px 20px 30px;
    margin-left: 95px !important;
  }

  section#client {
    padding-top: 80px !important;
    padding-bottom: 0px !important;
  }

  section#manageclient {
    padding-top: 180px !important;
    padding-bottom: 80px !important;
  }
  section#dontfindwork {
    padding-top: 80px !important;
    padding-bottom: 0px !important;
  }
  .workportfoliothreeb {
    text-align: -webkit-center;
    padding-top: 22px !important;
    padding-bottom: 40px !important;
  }
  .workportfolio4 {
    padding-top: 80px !important;
    /* padding: 0px 0px 50px 0px !important; */
    padding-bottom: 0px !important;
  }
  .workportfolio2 {
    padding-top: 80px !important;
    /* padding: 0px 0px 50px 0px !important; */
    padding-bottom: 0px !important;
  }
  .workportfolio0 {
    padding-top: 0px !important;
    /* padding: 0px 0px 50px 0px !important; */
    padding-bottom: 0px !important;
  }
  section#servicescontactus {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  section#clientareacontacts {
    padding-top: 50px !important;
    padding-bottom: 0px !important;
  }
  section#needhelpmoisturestudio {
    padding-top: 100px !important;
    padding-bottom: 50px !important;
  }
  section#testimonialmoisturestudio {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  section#technologiesmoisturestudio {
    padding-bottom: 50px !important;
    padding-top: 50px !important;
  }
  section#achievementsmoisturestudio {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  section#appmoisturestudio {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  section#businesshomemoisturestudio {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  img.processBrainstormingdata {
    width: 100% !important;
    padding-top: 80px !important;
    padding-bottom: 30px !important;
  }
  section#craftingthedesignprocess {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  section#developmentprocess {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  section#brainstormingdataprocess {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  img.processUnderstandingidea {
    padding-top: 0px !important;
    width: 100% !important;
    padding-bottom: 100px !important;
  }
  section#understandingideaprocess {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .workportfolio11 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .workportfolio1 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .workportfolio3 {
    padding-top: 30px !important;
    padding-bottom: 0px !important;
  }
  section#dontfindwork .single-blk.in-manage-area {
    padding: 15px !important;
  }
  .client-area {
    padding: 15px !important;
  }
  section#industriesservedmoisturestudio .serve-area {
    padding: 15px !important;
  }
  section#industriesservedmoisturestudio {
    padding-top: 0px !important;
    padding-bottom: 50px !important;
  }
  section#whatwedoaboutmoisturestudio {
    padding-top: 0px !important;
    padding-bottom: 80px !important;
  }
  h1.hometextb {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    font-family: LemonMilkProRegular;
    font-size: 54px !important;
    color: transparent;
    -webkit-text-stroke: 0.6px #7474f5 !important;
    /* font-size: 55px; */
    margin-top: -60px !important;
    margin-bottom: 50px !important;
  }

  span.hometextb {
    padding-left: 0px !important;
    padding-top: 0px !important;
    letter-spacing: 0px !important;
  }
}
